<%- include('includes/head',{pageTitle: '404 Error'}) %>


</head>
<body>
     <%- include('includes/header') %>
     <main>
          <h1>Could Not find Resource Requested!</h1>
          <p>Sorry , The Resource you requested could not be found.</p>
          <a class="btn" href ='/'>Back to safety</a>
     </main>

<%- include('includes/footer')  %>