<%- include('includes/head',{pageTitle: '401 Error'}) %>


</head>
<body>
     <%- include('includes/header') %>
     <main>
          <h1>Not authenticate!</h1>
          <p>Kindly longin or sign up to go further.</p>
          <a class="btn" href ='/'>Back to safety</a>
     </main>

<%- include('includes/footer')  %>