<%- include('includes/head',{pageTitle: '403 Error'}) %>


</head>
<body>
     <%- include('includes/header') %>
     <main>
          <h1>Not Authorized</h1>
          <p>Sorry , You are not authorized to access this page.</p>
          <a class="btn" href ='/'>Back to safety</a>
     </main>

<%- include('includes/footer')  %>