<%- include('includes/head',{pageTitle: '500 Error'}) %>


</head>
<body>
     <%- include('includes/header') %>
     <main>
          <h1>Sorry, looks like something went wrong!</h1>
          <a class="btn" href ='/'>Back to safety</a>
     </main>

<%- include('includes/footer')  %>