<header id="main-header" >
     <div id="logo" ><a href="/">ESSENTIALS</a> </div>
     <%- include("navigation.ejs"); %>

     <button id="mobile-menu-button" >
          <span></span>
          <span></span>
          <span></span>
          
     </button>

     

</header>
<aside id="mobile-menu" >
     <%- include("navigation.ejs")  %>
</aside>