<%- include('../../shared/includes/head',{pageTitle: 'Product Administration'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/products.css" >
<script src="/scripts/productManagement.js" defer></script>

</head>
<body>
     <%- include('../../shared/includes/header')  %>
     <main>
          <h1>Product Administration</h1>
          <section>
               <h2>Manage Products</h2>
               <a href="/admin/products/new" class="btn">Add Product</a>

          </section>
          <section>
               <p>all products list</p>
               <section>
                    <ul>
                     <% for(const product of products) { %>
                      <li id="products-grid" >
                          <%- include('../../shared/includes/product_item',{product : product }) %>
                      </li>
                     <% } %>
                    </ul>
               
               </section>
          </section>

          
     </main>

<%- include('../../shared/includes/footer')  %>